*~
\#*#


# Ignore Rust caches/locks
.cargo
Cargo.lock

# Ignore build outputs
target
node*
# and intermediate ones
*.o

# Ignore system files
.vagrant/
.DS_Store

# ignore input/output files [XXX: I'll keep them for now, for easier GitHub integration...]
# in/
# out/
